p{
    text-align: justify;
}
.lista-texto{
    text-align: justify;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
    font-size: 25px;
}
a{
    color: #002e5b;
}
a:hover{
    color: #3accc0;
}
.Divimg{
    width: 50%;
    margin: auto;
    border: solid 2px #002e5b;
}
.img{
    width: 100%;
    height: auto;
}
footer{
    width:100%;
    display:table;
    background-color:#3accc0;
    padding-top: 25px;
    padding-left: 20%;
    margin-top: 20px;
}